#payplug_admin {
    margin: auto;
    max-width: 960px;
    border: solid 1px #bebebe;
    padding: 20px;
    color: #666666;
}
#debugSettings, #liveSettings
{
	display: none;
	margin-top: 15px
}

.notif.information
{
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 10px 0;
	line-height: 20px;
	padding: 13px 5px 5px 40px;
	min-height: 28px;
	border-radius: 3px;
	background-color: #CCC;
	border: 1px solid #000;
	color: #000;
}

.notif .underline
{
	text-decoration: underline;
}

#payplug_admin h3 + p
{
	margin-bottom: 25px;
}