<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>payplug</name>
	<displayName><![CDATA[PayPlug]]></displayName>
	<version><![CDATA[0.9.6]]></version>
	<description><![CDATA[Payer par carte simplement, rapidement et de mani&egrave;re s&eacute;curis&eacute;e.]]></description>
	<author><![CDATA[PayPlug]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Êtes-vous sûr de vouloir désinstaller ce module et supprimer sa configuration ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
