<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>payplug</name>
            <displayName><![CDATA[PayPlug &ndash; Simple and secure online payments]]></displayName>
            <version><![CDATA[0.9.7]]></version>
            <description><![CDATA[La solution de paiement en ligne la plus simple : inscription gratuite, sans frais fixe et sans contrat VAD !]]></description>
            <author><![CDATA[PayPlug]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Êtes-vous sûr de vouloir désinstaller ce module et supprimer votre configuration ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>